<!doctype html>
<html class="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Hello Amaze UI</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="__PUBLIC__/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
        .top-border-orange ul li a{
            background:rgb(7, 57, 101);
            height:100px;
            margin:10px auto;
            display:block;
            width:80%;
            text-align: center;
            border-radius: 5px;
            border: 2px solid rgb(249, 187, 19);
            padding-top:70px;
            color: rgb(249, 187, 19);
        }
    </style>
</head>
<body class="am-text-sm">
<!-- banner begin -->
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
    <ul class="am-slides">
        <li><img src="http://s.amazeui.org/media/i/demos/bing-1.jpg" /></li>
        <li><img src="http://s.amazeui.org/media/i/demos/bing-2.jpg" /></li>
    </ul>
</div>
<!-- banner end -->

<!-- content begin -->
<div class="top-border-orange am-padding">
    <p>
        内容
    </p>
</div>
<!-- content end -->

<!-- menu begin -->
<div class="top-border-orange">
    <ul class="am-avg-sm-3 am-avg-md-3 am-avg-lg-3">
        <li><a href="introduction.html">企业介绍</a></li>
        <li><a href="./show.html">产品展示</a></li>
        <li><a href="./about_us.html">联系我们</a></li>
    </ul>
</div>
<!-- menu end -->

<!-- logo begin -->
<div>
    <img class="am-img-responsive" src="__PUBLIC__/img/9bbe0220-0a5b-400e-98f6-e977ba956fc0.png" alt=""/>
</div>
<!-- logo end -->


<div data-am-widget="navbar" class="am-navbar am-cf am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4" style="#fcfcfc">
        <li>
            <a href="{:U('index')}" class="">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="iconfont pet_head_gd_ico">
                <span class="am-icon-list"></span>
                <span class="am-navbar-label">客服</span>
            </a>
        </li>
        <li>
            <a href="http://www.bugoo.tv/wp-content/plugins/xunhu-pay-company/views/user-center.php" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">电话</span>
            </a>
        </li>
        <li>
            <a href="../about" class="">
                <span class="am-icon-weixin"></span>
                <span class="am-navbar-label">关注</span>
            </a>
        </li>

    </ul>
</div>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/js/jquery-2.2.3.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/amazeui.min.js"></script>
</body>
</html>