<!doctype html>
<html class="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>{$title}</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="__PUBLIC__/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
        .top-border-orange ul li a{
            background:rgb(7, 57, 101);
            height:100px;
            margin:10px auto;
            display:block;
            width:80%;
            text-align: center;
            border-radius: 5px;
            border: 2px solid rgb(249, 187, 19);
            padding-top:70px;
            color: rgb(249, 187, 19);
        }
    </style>
</head>
<body class="am-text-sm">
<div class="am-g">
        <img src="data:image/png;base64,{$imgs[0]['image']}" style="width:100%;max-width:100%;height:auto;"/>
</div>

<div class="am-g top-border-orange" style="padding:10px;">
    <h2 class="title" style="display:inline;">企业介绍</h2>
    <p>
        {$company}
    </p>
</div>
<!-- logo begin -->
<!--<div>
    <img class="am-img-responsive" src="__PUBLIC__/img/9bbe0220-0a5b-400e-98f6-e977ba956fc0.png" alt=""/>
</div>-->
<!-- logo end -->

<include file="Common/bottom"/>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/js/jquery-2.2.3.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/amazeui.min.js"></script>
</body>
</html>