<!doctype html>
<html class="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>{$title}</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="__PUBLIC__/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <script src="__PUBLIC__/js/j/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key="W+FSSIJICMeqqi4MQCwmdLePq9iq8HQqiVT5dQ==";</script>

    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
        .top-border-orange ul li a{
            background:rgb(7, 57, 101);
            height:100px;
            margin:10px auto;
            display:block;
            width:80%;
            text-align: center;
            border-radius: 5px;
            border: 2px solid rgb(249, 187, 19);
            padding-top:70px;
            color: rgb(249, 187, 19);
        }
        iframe{
            width:80%;
            height:100%;
        }
        .selected{
            border-bottom: 1px solid black;
        }
        .picture-container img{
            width:80%;
        }
        .video-container {
            width:80%;
        }
    </style>
</head>
<body class="am-text-sm">
<!-- <div id="container"></div> -->
<div style="wdith:100%">
{$videoHtml}
</div>


<if condition="$batch neq ''">
    <div class="am-g top-border-orange">
        <span class="title" style="margin-left: 30px;">批次信息</span>
            <ul>
                <li>
                    批次编号：{$batch.code}
                </li>
                <li>批次名称：{$batch.name}</li>
                <li>商品名称：{$batch.commodity}</li>
                <li>批次号：{$batch.batch}</li>
            </ul>
    </div>
</if>

<if condition="$materialBatch neq ''">
    <div class="am-g top-border-orange">
        <span class="title" style="margin-left: 30px;">原材料信息</span>

        <volist name="materialBatch" id="item">
            <ul>
                <li>
                    <div>
                    <span class="selected picture">图片</span> | 
                    <span class="video">视频</span>
                    </div>
                    
                    <div>
                        <div class="picture-container">
                            <img src="data:image/png;base64,{$item.picture}"/>
                        </div>
                        <div class="am-hide video-container" >
                            <div id="ycl{$item.code}"></div>
                            <script>
                                var hePlayer = jwplayer('ycl{$item.code}').setup({
                                    flashplayer: '__PUBLIC__/js/j/jwplayer.flash.swf',
                                    //html5player: '__PUBLIC__/js/j/provider.html5.js',
                                    file: '{$mp4_urls.ycl}?code={$item.code}',
                                    width: '80%',
                                    //height:'100%',
                                    type:'mp4',
                                    dock: false,
                                    modes :[
                                        { type: "html5" },
                                        { type: "flash", src: "__PUBLIC__/js/j/jwplayer.flash.swf" },
                                        { type: "download" }
                                    ]
                                })
                            </script>
                        </div>
                    </div>

                </li>
                <li>原材料：{$item.materia}</li>
                <li>供应商：{$item.supplier}</li>
                <li>原材料编号：{$item.code}</li>
                <li>原材料批次名：{$item.name}</li>
                <li>原材料批次：{$item.batch}</li>
            </ul>
        </volist>

    </div>
</if>

<if condition="$commodityMaking neq ''">
    <div class="am-g top-border-orange">
        <span class="title" style="margin-left: 30px;">商品加工过程</span>
        <volist name="commodityMaking" id="item">
            <ul>
                <li>
                    <div>
                    <span class="selected picture">图片</span> | 
                    <span class="video">视频</span>
                    </div>
                    
                    <div>
                        <div class="picture-container">
                            <img src="data:image/png;base64,{$item.picture}"/>
                        </div>
                        <div class="am-hide video-container" >
                            <div id="jg{$item.code}"></div>
                            <script>
                                var hePlayer = jwplayer('jg{$item.code}').setup({
                                    flashplayer: '__PUBLIC__/js/j/jwplayer.flash.swf',
                                    //html5player: '__PUBLIC__/js/j/provider.html5.js',
                                    file: '{$mp4_urls.jg}?code={$item.code}',
                                    width: '80%',
                                    //height:'100%',
                                    type:'mp4',
                                    dock: false,
                                    modes :[
                                        { type: "html5" },
                                        { type: "flash", src: "__PUBLIC__/js/j/jwplayer.flash.swf" },
                                        { type: "download" }
                                    ]
                                })
                            </script>
                        </div>
                    </div>

                </li>
                <li>加工名称：{$item.name}</li>
                <li>加工编号：{$item.code}</li>
                <li>加工类型：{$item.type}</li>
                <li>加工说明：{$item.message}</li>
            </ul>

        </volist>

    </div>
</if>

<if condition="$commodityProduce neq ''">
    <div class="am-g top-border-orange">
        <span class="title" style="margin-left: 30px;">商品生产过程</span>
        <volist name="commodityProduce" id="item">
            <ul>
                <li>
                    <div>
                    <span class="selected picture">图片</span> | 
                    <span class="video">视频</span>
                    </div>
                    
                    <div>
                        <div class="picture-container">
                            <img src="data:image/png;base64,{$item.picture}"/>
                        </div>
                        <div class="am-hide video-container">
                            <div id="sc{$item.code}"></div>
                            <script>
                                var hePlayer = jwplayer('sc{$item.code}').setup({
                                    flashplayer: '__PUBLIC__/js/j/jwplayer.flash.swf',
                                    //html5player: '__PUBLIC__/js/j/provider.html5.js',
                                    file: '{$mp4_urls.sc}?code={$item.code}',
                                    width: '80%',
                                    //height:'100%',
                                    dock: false,
                                    type:'mp4',
                                    modes :[
                                        { type: "html5" },
                                        { type: "flash", src: "__PUBLIC__/js/j/jwplayer.flash.swf" },
                                        { type: "download" }
                                    ]
                                })
                            </script>
                        </div>
                    </div>

                </li>
                <li>生产加工名称：{$item.name}</li>
                <li>生产加工编号：{$item.code}</li>
                <li>生产加工类型：{$item.type}</li>
                <li>生产加工说明：{$item.message}</li>
            </ul>

        </volist>

    </div>
</if>

<if condition="$commodityCheck neq ''">
    <div class="am-g top-border-orange">
        <span class="title" style="margin-left: 30px;">质检报告</span>
        <volist name="commodityCheck" id="item">
            <ul>
                <li>
                    
                        <div class="picture-container">
                            <volist name="item['picture']" id="v">
                            <img src="data:image/png;base64,{$v.picture}"/>
                            </volist>
                        </div>
                    
                </li>
                <li>名称：{$item.name}</li>
                <li>类型：{$item.type}</li>
                <li>编号：{$item.code}</li>
                <li>质检公司：{$item.company}</li>
                <li>质检说明：{$item.message}</li>
            </ul>

        </volist>

    </div>
</if>

<div class="am-g top-border-orange">
    <span class="title" style="margin-left: 30px;">经销商查询</span>
    <ul>
        <li>
            <input type="text" name="password" id="password" value=""/>
            <button id="query">确定</button>
        </li>

    </ul>
    <ul id="agent_content">

    </ul>
</div>
<!-- logo begin -->
<!--<div>
    <img class="am-img-responsive" src="__PUBLIC__/img/9bbe0220-0a5b-400e-98f6-e977ba956fc0.png" alt=""/>
</div>-->
<!-- logo end -->

<include file="Common/bottom"/>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/js/jquery-2.2.3.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/amazeui.min.js"></script>

<script>
    $(function(){
        $('#query').on('click', function(){
            var password = $('#password').val();
            if (!password) {
                alert('请输入查询密码');
                return false;
            }

            $.get('{:U("queryMerchant")}', {password:password}, function(response){
                if (response.status.toLowerCase() == 'yes') {
                    var html = '<li>';
                    html += response.data;
                    html += '</li>';
                    $('#agent_content').html(html);
                } else {
                    alert('密码错误');
                }
            });
        });
        /*var hePlayer = jwplayer('container').setup({
            flashplayer: '__PUBLIC__/js/j/jwplayer.flash.swf',
            //html5player: '__PUBLIC__/js/j/provider.html5.js',
            file: '__ROOT__/l.mp4',
            width: '100%',
            //height:'100%',
            dock: false,
            modes :[
                { type: "html5" },
                { type: "flash", src: "__PUBLIC__/js/j/jwplayer.flash.swf" },
                { type: "download" }
            ]
        });*/


        $('.top-border-orange').on('click', '.picture', function(){
            show($(this), 'picture');
        })
        $('.top-border-orange').on('click', '.video', function(){
            show($(this), 'video');
        })

        function show(selectedNode, flag)
        {
            selectedNode.addClass('selected');
            selectedNode.siblings().removeClass('selected');
            var container = selectedNode.parent().next('div');
            if (flag == 'picture') {
                container.find('.picture-container').removeClass('am-hide');
                container.find('.video-container').addClass('am-hide');
            } else {
                container.find('.video-container').removeClass('am-hide');
                container.find('.picture-container').addClass('am-hide');
            }
        }
    })
</script>
</body>
</html>