<!doctype html>
<html class="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>{$title}</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="__PUBLIC__/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <script src="__PUBLIC__/js/j/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key="W+FSSIJICMeqqi4MQCwmdLePq9iq8HQqiVT5dQ==";</script>

    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css"/>
    <style>
        .top-border-orange ul li a{
            background:rgb(7, 57, 101);
            height:100px;
            margin:10px auto;
            display:block;
            width:80%;
            text-align: center;
            border-radius: 5px;
            border: 2px solid rgb(249, 187, 19);
            padding-top:70px;
            color: rgb(249, 187, 19);
        }
        iframe{
            width:80%;
            height:100%;
        }
        .selected{
            border-bottom: 1px solid black;
        }
        .picture-container img{
            width:80%;
        }
        .video-container {
            width:80%;
        }
        .am-g .display-none {
            display:none;
        }
        .title{
            padding-left:30px;
            padding-top: 3px;
            padding-bottom: 3px;
            margin-bottom: 1px;
            width: 100%;
            height: auto;
            color: white;
            font-size: 15px;
            display:inline-block;
            background:#DA251C;
        }
        .title i {
            margin-left:60%;
        }
    </style>
</head>
<body class="am-text-sm">
<!-- <div id="container"></div> -->
<div style="wdith:100%">
{$videoHtml}
</div>


<if condition="$batch neq ''">
    <div class="am-g">
        <span class="title">商品信息</span>
            <ul>
                <li>
                    批次编号：{$batch.code}
                </li>
                <li>批次名称：{$batch.name}</li>
                <li>商品名称：{$batch.commodity}</li>
                <li>批次号：{$batch.batch}</li>
            </ul>
    </div>
</if>

<if condition="$materialBatch neq ''">
    <div class="am-g">
        <span class="title menus" data-index="1">生产原料信息 <i class="fa fa-angle-up" style="text-align:right;"></i></span>

        <volist name="materialBatch" id="item">
            <ul class="display-none">
                <li>
                    <div>
                    <span class="selected picture">图片</span> | 
                    <span class="video">视频</span>
                    </div>
                    
                    <div>
                        <div class="am-hide picture-container">
                            <img src="data:image/png;base64,{$item.picture}"/>
                        </div>
                        <div class="am-hide video-container" >
                            <div id="ycl{$item.code}"></div>
                            <script>
                                var hePlayer = jwplayer('ycl{$item.code}').setup({
                                    flashplayer: '__PUBLIC__/js/j/jwplayer.flash.swf',
                                    //html5player: '__PUBLIC__/js/j/provider.html5.js',
                                    file: '{$mp4_urls.ycl}?code={$item.code}',
                                    width: '80%',
                                    //height:'100%',
                                    type:'mp4',
                                    dock: false,
                                    modes :[
                                        { type: "html5" },
                                        { type: "flash", src: "__PUBLIC__/js/j/jwplayer.flash.swf" },
                                        { type: "download" }
                                    ]
                                })
                            </script>
                        </div>
                    </div>

                </li>
                <li>原材料：{$item.materia}</li>
                <li>供应商：{$item.supplier}</li>
                <li>原材料编号：{$item.code}</li>
                <li>原材料批次名：{$item.name}</li>
                <li>原材料批次：{$item.batch}</li>
            </ul>
        </volist>

    </div>
</if>

<if condition="$commodityMaking neq ''">
    <div class="am-g">
        <span class="title menus" data-index="2">加工工艺信息 <i class="fa fa-angle-up"></i></span>
        <volist name="commodityMaking" id="item">
            <ul class="display-none">
                <li>
                    <div>
                    <span class="selected picture">图片</span> | 
                    <span class="video">视频</span>
                    </div>
                    
                    <div>
                        <div class="am-hide picture-container">
                            <img src="data:image/png;base64,{$item.picture}"/>
                        </div>
                        <div class="am-hide video-container" >
                            <div id="jg{$item.code}"></div>
                            <script>
                                var hePlayer = jwplayer('jg{$item.code}').setup({
                                    flashplayer: '__PUBLIC__/js/j/jwplayer.flash.swf',
                                    //html5player: '__PUBLIC__/js/j/provider.html5.js',
                                    file: '{$mp4_urls.jg}?code={$item.code}',
                                    width: '80%',
                                    //height:'100%',
                                    type:'mp4',
                                    dock: false,
                                    modes :[
                                        { type: "html5" },
                                        { type: "flash", src: "__PUBLIC__/js/j/jwplayer.flash.swf" },
                                        { type: "download" }
                                    ]
                                })
                            </script>
                        </div>
                    </div>

                </li>
                <li>加工名称：{$item.name}</li>
                <li>加工编号：{$item.code}</li>
                <li>加工类型：{$item.type}</li>
                <li>加工说明：{$item.message}</li>
            </ul>

        </volist>

    </div>
</if>

<if condition="$commodityProduce neq ''">
    <div class="am-g">
        <span class="title menus" data-index="3">生产工艺信息 <i class="fa fa-angle-up"></i></span>
        <volist name="commodityProduce" id="item">
            <ul class="display-none">
                <li>
                    <div>
                    <span class="selected picture">图片</span> | 
                    <span class="video">视频</span>
                    </div>
                    
                    <div>
                        <div class="am-hide picture-container">
                            <img src="data:image/png;base64,{$item.picture}"/>
                        </div>
                        <div class="am-hide video-container">
                            <div id="sc{$item.code}"></div>
                            <script>
                                var hePlayer = jwplayer('sc{$item.code}').setup({
                                    flashplayer: '__PUBLIC__/js/j/jwplayer.flash.swf',
                                    //html5player: '__PUBLIC__/js/j/provider.html5.js',
                                    file: '{$mp4_urls.sc}?code={$item.code}',
                                    width: '80%',
                                    //height:'100%',
                                    dock: false,
                                    type:'mp4',
                                    modes :[
                                        { type: "html5" },
                                        { type: "flash", src: "__PUBLIC__/js/j/jwplayer.flash.swf" },
                                        { type: "download" }
                                    ]
                                })
                            </script>
                        </div>
                    </div>

                </li>
                <li>生产加工名称：{$item.name}</li>
                <li>生产加工编号：{$item.code}</li>
                <li>生产加工类型：{$item.type}</li>
                <li>生产加工说明：{$item.message}</li>
            </ul>

        </volist>

    </div>
</if>

<if condition="$commodityCheck neq ''">
    <div class="am-g">
        <span class="title menus" data-index="4">检验报告信息 <i class="fa fa-angle-up"></i></span>
        <volist name="commodityCheck" id="item">
            <ul class="display-none">
                <li>
                    
                        <div class="picture-container">
                            <volist name="item['picture']" id="v">
                            <img src="data:image/png;base64,{$v.picture}"/>
                            </volist>
                        </div>
                    
                </li>
                <li>名称：{$item.name}</li>
                <li>类型：{$item.type}</li>
                <li>编号：{$item.code}</li>
                <li>质检公司：{$item.company}</li>
                <li>质检说明：{$item.message}</li>
            </ul>

        </volist>

    </div>
</if>

<div class="am-g">
    <span class="title">物流信息验证</span>
    <ul>
        <li>
            <input type="text" name="password" id="password" value="" placeholder="输入验证码"/>
            <button id="query">确定</button>
        </li>

    </ul>
    <ul id="agent_content">

    </ul>
</div>
<!-- logo begin -->
<!--<div>
    <img class="am-img-responsive" src="__PUBLIC__/img/9bbe0220-0a5b-400e-98f6-e977ba956fc0.png" alt=""/>
</div>-->
<!-- logo end -->

<include file="Common/bottom"/>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/js/jquery-2.2.3.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/amazeui.min.js"></script>

<script>
    $(function(){
        $('#query').on('click', function(){
            var password = $('#password').val();
            if (!password) {
                alert('请输入查询密码');
                return false;
            }

            $.get('{:U("queryMerchant")}', {password:password}, function(response){
                if (response.status.toLowerCase() == 'yes') {
                    /*var html = '<li>经销商名称：'+response.data.name+'</li>';
                    html += '<li>联系人:'+response.data.contacts_name+'</li>';
                    html += '<li>电话:'+response.data.tel+'</li>';
                    html += '<li>地址:'+response.data.address+'</li>';*/
                    var data = response.data;
                    var html = '';
                    html += '<li>入库单号：'+data.rk_code+'</li>';
                    html += '<li>入库时间：'+data.rk_date+'</li>';
                    html += '<li>出库单号：'+data.ck_code+'</li>';
                    html += '<li>出库时间：'+data.ck_date+'</li>';
                    html += '<li>销售区域：'+data.area+'</li>';
                    html += '<li>经销客户：'+data.agent+'</li>';
                    html += '<li>配送单号：'+data.express_code+'</li>';
                    html += '<li>配送方式：'+data.express+'</li>';
                    $('#agent_content').html(html);
                } else {
                    alert('密码错误');
                }
            });
        });
        /*var hePlayer = jwplayer('container').setup({
            flashplayer: '__PUBLIC__/js/j/jwplayer.flash.swf',
            //html5player: '__PUBLIC__/js/j/provider.html5.js',
            file: '__ROOT__/l.mp4',
            width: '100%',
            //height:'100%',
            dock: false,
            modes :[
                { type: "html5" },
                { type: "flash", src: "__PUBLIC__/js/j/jwplayer.flash.swf" },
                { type: "download" }
            ]
        });*/
        $('.menus').on('click', function() {
            var self = $(this)
            $('.menus').each(function (index, el) {
                if ($(el).attr('data-index') !== self.attr('data-index')) {
                    $(el).nextAll('.display-none').hide('slow');
                    $(el).find('i').removeClass('fa-angle-down').addClass('fa-angle-up');
                }
            })

            if ($(this).nextAll('.display-none').is(':hidden')) {
                $(this).nextAll('.display-none').show('slow');
                $(this).find('i').removeClass('fa-angle-up').addClass('fa-angle-down');
            } else {
                $(this).nextAll('.display-none').hide('slow');
                $(this).find('i').removeClass('fa-angle-down').addClass('fa-angle-up');
            }


            //

        })

        $('.am-g').on('click', '.picture', function(){
            show($(this), 'picture');
        })
        $('.am-g').on('click', '.video', function(){
            show($(this), 'video');
        })

        function show(selectedNode, flag)
        {
            selectedNode.addClass('selected');
            selectedNode.siblings().removeClass('selected');
            var container = selectedNode.parent().next('div');
            if (flag == 'picture') {
                container.find('.picture-container').removeClass('am-hide');
                container.find('.video-container').addClass('am-hide');
            } else {
                container.find('.video-container').removeClass('am-hide');
                container.find('.picture-container').addClass('am-hide');
            }
        }
    })
</script>
</body>
</html>