<!--
<div data-am-widget="navbar" class="am-navbar am-cf am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4" style="background:rgb(7, 57, 101);">
        <li>
            <a href="{:U('index')}" style="color:white;">
                &lt;!&ndash;<span class="am-icon-home"></span>&ndash;&gt;
                <img src="__PUBLIC__/icon/icon1.png"/>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="iconfont pet_head_gd_ico" style="color:white;">
                &lt;!&ndash;<span class="am-icon-list"></span>&ndash;&gt;
                <img src="__PUBLIC__/icon/icon2.png"/>
                <span class="am-navbar-label">客服</span>
            </a>
        </li>
        <li>
            <a href="tel:{$company.phone}" class="" style="color:white;">
                &lt;!&ndash;<span class="am-icon-user"></span>&ndash;&gt;
                <img src="__PUBLIC__/icon/icon3.png"/>
                <span class="am-navbar-label">电话</span>
            </a>
        </li>
        <li>
            <a href="{:U('trace')}" class="" style="color:white;">
                &lt;!&ndash;<span class="am-icon-weixin"></span>&ndash;&gt;
                <img src="__PUBLIC__/icon/icon4.png"/>
                <span class="am-navbar-label">追溯</span>
            </a>
        </li>

    </ul>
</div>-->
<div data-am-widget="navbar" class="am-navbar am-cf am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4" style="background:rgb(28, 110, 183)">
        <li>
            <a href="{:U('index')}" style="color:white;">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="iconfont pet_head_gd_ico" style="color:white;">
                <span class="am-icon-headphones"></span>
                <span class="am-navbar-label">客服</span>
            </a>
        </li>
        <li>
            <a href="tel:{$company.phone}" class="" style="color:white;">
                <span class="am-icon-phone"></span>
                <span class="am-navbar-label">电话</span>
            </a>
        </li>
        <li>
            <a href="{:U('trace')}" class="" style="color:white;">
                <span class="am-icon-cab"></span>
                <span class="am-navbar-label">追溯</span>
            </a>
        </li>

    </ul>
</div>