<div data-am-widget="navbar" class="am-navbar am-cf am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4" style="background:#FA1D1D;">
        <li>
            <a href="{:U('index')}" style="color:white;">
                <img src="__PUBLIC__/icon/bottom_1.png"/>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="tel:{$company.phone}" class="iconfont pet_head_gd_ico" style="color:white;">
                <img src="__PUBLIC__/icon/bottom_3.png"/>
                <span class="am-navbar-label">客服</span>
            </a>
        </li>
        <li>
            <a href="//{$wechat_url}" class="" style="color:white;">
                <img src="__PUBLIC__/icon/follow.png"/>
                <span class="am-navbar-label">关注</span>
            </a>
        </li>
        <li>
            <a href="{:U('trace')}" class="" style="color:white;">
                <img src="__PUBLIC__/icon/bottom_4.png"/>
                <span class="am-navbar-label">溯源</span>
            </a>
        </li>

    </ul>
</div>
